.treeview span.icon.none {
  margin-left: 0px;
}
.treeview.small .list-group-item {
  padding: 2px 15px;
}
.treeview.middle .list-group-item {
  padding: 5px 11px;
}
.treeview.small .list-group-item:first-child,
.treeview.small .list-group-item:last-child,
.treeview.middle .list-group-item:first-child,
.treeview.middle .list-group-item:last-child {
  border-radius: 0;
}
.tree-view-wrapper .tree-heading-container {
  margin: 4px 6px;
  font-weight: 700;
  font-size: 1.1em;
  line-height: 1.42857;
  color: #555;
}
.tree-view-wrapper .tree-header {
  padding-bottom: 6px;
}
